input {
  margin-left: 15px;
}

.card {
  padding: 15px;
  margin: 15px;
  width: 20%;
  height: 100px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #555;
  float: left;
}

.avatar {
  float: left;
  border-radius: 50%;
  zoom: 0.75;
  margin-right: 20px;
}
